
.icon-mail-1:before { content: '\e800'; } /* '' */
.icon-ok-1:before { content: '\e801'; } /* '' */
.icon-ok-circled:before { content: '\e802'; } /* '' */
.icon-css:before { content: '\e803'; } /* '' */
.icon-thumbs-up:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-gplus:before { content: '\e806'; } /* '' */
.icon-camera-1:before { content: '\e80a'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-github-text:before { content: '\f307'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */